@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400;800&family=Roboto&family=Roboto+Condensed:wght@700&display=swap');
:root {
    --yellow-color: #FFF216;
    --dark-yellow: #b4ae35;
    --light-yellow: #F4EDE4;
    --white: #ffffff;
    --black: #000000;
    --stroke-color: #2F2F2F;
    --orange: #F16C46;
    --light-blue: #009AD9;
    --dark-blue:  #224391;
    --bg-color: #141300;
    --card-color: #1E1D13;
    --card-stroke: 1px solid #2F2F2F;
    --shadow: 0  0   5px 1px rgba(0,0,0,0.30);
    --box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    --border-25: 25px;
    --border-15: 15px;
}

*,::before,::after {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none;}
button {border: none; background-color: var(--yellow-color); padding: 5px;}

.download-btn {
    color: var(--black);
    background-color: var(--light-blue);
    border-radius: 5px;
    padding: 5px 15px;
}

.download-btn:hover{
    background-color: var(--dark-blue);
    color: var(--white);
}

.tools-title h1 {
    padding: 100px 0px 50px 0px;
    letter-spacing: 10px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
    color: var(--yellow-color);
    background-color: var(--card-color);
    box-shadow: var(--box-shadow) ;
}
.input-sect {padding: 10px 0px;}

@media (min-width: 700px) {
    .tools-title h1 {font-size: 64px;}
}