body {
    background-color: var(--bg-color);
}

.tax {
    height: 100vh;
}

label { padding: 15px}
input[type=number]{
    font-family: 'Roboto', sans-serif; ;
    font-size: 18px;
    width: 150px;
    padding: 0px 5px;
    margin: 10px 0;
    border-radius: var(--border-15);
    -webkit-appearance: none; /* chrome */
    -moz-appearance: textfield; /* firefox */
}

.tax-section {
    margin: 120px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-family: 'Roboto', cursive;
    font-size: 18px;
    color: var(--white);
}
 
button {
    text-transform: uppercase;
    color: var(--black);
    background-color: var(--orange);
    width: 150px;
    border-radius: var(--border-15);
    padding: 5px 0px;
}

p {
    padding-top: 10px;
    font-family: 'Roboto', cursive;
    font-size: 12px;
}

@media (min-width: 700px) {
    body{overflow-y: hidden;}
    .tax-section {
        margin-left: 35%;
        width: 600px;
        padding: 60px;
    }

    label {font-size: 24px;margin-top: 25px;}
    input[type=number]{ font-size: 24px;
        width: 250px;} 
    button { 
        margin-top: 20px;
        padding: 10px 0px;
        width: 250px;
    }
    p { font-size: 24px;}
}